.ab_container {
    display: inline-block;
    border: none;
    font-family: 'Montserrat';
    text-decoration: none;
    color: var(--clg-color-app-bottom-nav-active-text);
    padding: 0.5rem 1rem;
    margin-inline: auto;
    background-color: var(--clg-color-sem-background-surface-brand-dark);
}
.ab_container::first-letter {
    text-transform: capitalize;
}

.ab_container.pilled {
    border-radius: 100vmax;
}
.ab_container.rounded {
    border-radius: 2rem;

}

.ab_container.box-shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
