.md_container {
    border: solid red;
    position: fixed;
    z-index: 10;
    inset: 0;
    animation: md_container_animate 0.5s forwards;
}

.md_container input {
    display: none;
}

@keyframes md_container_animate {
    to {
        background-color: rgba(0 0 0 / 0.5);
    }
}

.md_container .md_content {
    position: absolute;
    display: grid;
    grid-template-rows: 0fr;
    padding-inline: 1rem;

    inset: auto 0 0 0;
    width: 100%;
    height: 80%;
    border: solid green;
    background-color: white;
    color: var(--clr-secondary);
    border-radius: 20px 20px 0 0;
    opacity: 0;
    transform: translateY(100px);
    animation: md_content_animation_in 0.25s forwards cubic-bezier(0.74, 2.01, 0.69, 0.86);
    
}

.md_container input:checked + .md_content,
.md_container .md_content.md_quitting {
    animation-name: md_content_animation_out;
    animation-duration: 0.1s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

.md_container .md_title_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem 1.5rem;
}
.md_container .md_title_container h2 {
    font-family: GraphikFont;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.md_container .md_content ul {
    border: solid red;
    display: grid;
    align-items: center;
    /* justify-content: space-between; */
}
.md_container .md_content ul li {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-family: GraphikFont;
    text-transform: capitalize;
}

.md_container .md_content .md_close_icon {
    /* border: 1px solid red; */
    position: relative;
    isolation: isolate;
}

.md_container .md_content .md_close_icon::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    aspect-ratio: 1;
    background-color: var(--clr-secondary-white);
    border-radius: 100vmax;
    box-shadow: 0 0 0 10px var(--clr-secondary-white);
    transform: scale(0);
    transition: transform 0.2s;
}
.md_container .md_content .md_close_icon:hover::before {
    transform: scale(1);
}

@keyframes md_content_animation_in {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes md_content_animation_out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100px);
    }
}
