.ic_container {
    isolation: isolate;
    border: 1px solid var(--clg-color-sem-text-primary);
    padding: 0.5rem 0.5rem;
    overflow: hidden;
}

.ic_container.rounded {
    border-radius: 0.5rem;
}

.ic_container.pilled {
    border-radius: 100vmax;
}

.ic_container.error {
    border-color: var(--error-clr);
    background-color: var(--bg-error-clr);
}

.ic_container:focus-within {
    outline: 2px solid var(--clg-color-pal-blue-300);
}
