:root {
    /* sizes */
    --max-nav-gap: 150px;

    --clg-typography-pal-weight-500: 500;
    --clg-typography-pal-weight-400: 400;
    --clg-typography-pal-weight-300: 300;
    --clg-typography-pal-family-sans-serif-semibold: 'Graphik Webfont',
        '-apple-system', 'Helvetica Neue', 'Droid Sans', 'Arial', 'sans-serif';
    --clg-typography-pal-family-sans-serif-medium: 'Graphik Webfont',
        '-apple-system', 'Helvetica Neue', 'Droid Sans', 'Arial', 'sans-serif';
    --clg-typography-pal-family-sans-serif-regular: 'Graphik Webfont',
        '-apple-system', 'Helvetica Neue', 'Droid Sans', 'Arial', 'sans-serif';
    --clg-typography-pal-family-serif-regular: 'Guardian-EgypTT', 'Charter',
        'Charter Bitstream', 'Cambria', 'Noto Serif Light', 'Droid Serif',
        'Georgia', 'serif';
    --clg-typography-pal-family-serif-light: 'Guardian-EgypTT', 'Charter',
        'Charter Bitstream', 'Cambria', 'Noto Serif Light', 'Droid Serif',
        'Georgia', 'serif';
    --clg-effect-sem-shadow-elevation-4: 0px 1px 5px 0px #0000004d,
        0px 5px 20px 6px #00000026;
    --clg-effect-sem-shadow-elevation-3: 0px 1px 3px 0px #0000004d,
        0px 4px 8px 3px #00000026;
    --clg-effect-sem-shadow-elevation-2: 0px 1px 2px 0px #0000004d,
        0px 2px 6px 2px #00000026;
    --clg-effect-sem-shadow-elevation-1: 0px 1px 2px 0px #0000004d,
        0px 1px 3px 1px #00000026;
    --clg-effect-pal-z-index-1000: 100;
    --clg-effect-pal-z-index-900: 90;
    --clg-effect-pal-z-index-800: 80;
    --clg-effect-pal-z-index-700: 70;
    --clg-effect-pal-z-index-600: 60;
    --clg-effect-pal-z-index-500: 50;
    --clg-effect-pal-z-index-400: 40;
    --clg-effect-pal-z-index-300: 30;
    --clg-effect-pal-z-index-200: 20;
    --clg-effect-pal-z-index-100: 10;
    --clg-effect-pal-duration-600: 600ms;
    --clg-effect-pal-duration-300: 300ms;
    --clg-effect-pal-duration-200: 200ms;
    --clg-effect-pal-duration-100: 100ms;
    --clg-color-sem-text-brand: #f1641e;
    --clg-color-sem-background-surface-selected-subtle: #0e0e0e0d;
    --clg-color-sem-background-surface-action-pressed-secondary-dark: #ffffff45;
    --clg-color-sem-background-surface-action-pressed-secondary-light: #0e0e0e45;
    --clg-color-sem-background-surface-action-pressed-secondary-inverted-subtle: #ffffff45;
    --clg-color-sem-background-surface-action-pressed-secondary-subtle: #0e0e0e45;
    --clg-color-sem-background-surface-action-pressed-primary-light: #dedede;
    --clg-color-sem-background-surface-action-pressed-primary-inverted-strong: #dedede;
    --clg-color-sem-background-surface-action-hovered-primary-strong: #2f2f2f;
    --clg-color-sem-background-surface-brand-dark: #f1641e;
    --clg-color-pal-turquoise-900: #1a3b38;
    --clg-color-pal-turquoise-700: #2f766d;
    --clg-color-pal-turquoise-300: #7ed4bd;
    --clg-color-pal-turquoise-100: #ddebe3;
    --clg-color-pal-slime-900: #1c4a21;
    --clg-color-pal-slime-700: #258635;
    --clg-color-pal-slime-300: #9ec063;
    --clg-color-pal-slime-100: #d4e9d7;
    --clg-color-pal-lavender-900: #3e1c53;
    --clg-color-pal-lavender-700: #654b77;
    --clg-color-pal-lavender-300: #9560b8;
    --clg-color-pal-lavender-100: #e6e1f0;
    --clg-color-pal-denim-900: #232347;
    --clg-color-pal-denim-700: #2f466c;
    --clg-color-pal-denim-300: #4d6bc6;
    --clg-color-pal-denim-100: #d7e6f5;
    --clg-color-pal-bubblegum-900: #592642;
    --clg-color-pal-bubblegum-700: #b54c82;
    --clg-color-pal-bubblegum-300: #f592b8;
    --clg-color-pal-bubblegum-100: #f5d9e3;
    --clg-color-pal-brick-900: #540d17;
    --clg-color-pal-brick-700: #a61a2e;
    --clg-color-pal-brick-300: #fd9184;
    --clg-color-pal-brick-100: #fddcd8;
    --clg-color-pal-beeswax-900: #a66800;
    --clg-color-pal-beeswax-700: #faa129;
    --clg-color-pal-beeswax-300: #fdd95c;
    --clg-color-pal-beeswax-100: #fdebd2;
    --clg-color-pal-orange-900: #cf4018;
    --clg-color-pal-orange-700: #f1641e;
    --clg-color-pal-orange-300: #faa077;
    --clg-color-pal-orange-100: #f8ebe6;
    --clg-color-pal-new-orange-050: #fff9f3;
    --clg-color-pal-new-orange-950: #170203;
    --clg-color-pal-new-orange-900: #2d0306;
    --clg-color-pal-new-orange-850: #440509;
    --clg-color-pal-new-orange-800: #5a060c;
    --clg-color-pal-new-orange-750: #71080f;
    --clg-color-pal-new-orange-700: #901a12;
    --clg-color-pal-new-orange-650: #af2d15;
    --clg-color-pal-new-orange-600: #cf4018;
    --clg-color-pal-new-orange-550: #e0521b;
    --clg-color-pal-new-orange-500: #f1641e;
    --clg-color-pal-new-orange-450: #f47d3f;
    --clg-color-pal-new-orange-400: #f79660;
    --clg-color-pal-new-orange-350: #f9ae81;
    --clg-color-pal-new-orange-300: #fcc7a2;
    --clg-color-pal-new-orange-250: #ffe0c3;
    --clg-color-pal-new-orange-200: #ffe6cf;
    --clg-color-pal-new-orange-150: #ffecdb;
    --clg-color-pal-new-orange-100: #fff3e7;
    --clg-color-pal-yellow-050: #fffef7;
    --clg-color-pal-yellow-950: #2b1909;
    --clg-color-pal-yellow-900: #563213;
    --clg-color-pal-yellow-850: #814c1d;
    --clg-color-pal-yellow-800: #b97422;
    --clg-color-pal-yellow-750: #f19d27;
    --clg-color-pal-yellow-700: #f4a931;
    --clg-color-pal-yellow-650: #f6b53c;
    --clg-color-pal-yellow-600: #f8c147;
    --clg-color-pal-yellow-550: #facd52;
    --clg-color-pal-yellow-500: #fdd95c;
    --clg-color-pal-yellow-450: #fde075;
    --clg-color-pal-yellow-400: #fee68d;
    --clg-color-pal-yellow-350: #feeea6;
    --clg-color-pal-yellow-300: #fff4bf;
    --clg-color-pal-yellow-250: #fffbd8;
    --clg-color-pal-yellow-200: #fffce0;
    --clg-color-pal-yellow-150: #fffde8;
    --clg-color-pal-yellow-100: #fffdef;
    --clg-color-pal-purple-050: #fcf9ff;
    --clg-color-pal-purple-950: #0e071b;
    --clg-color-pal-purple-900: #1b0f36;
    --clg-color-pal-purple-850: #291651;
    --clg-color-pal-purple-800: #361e6c;
    --clg-color-pal-purple-750: #442587;
    --clg-color-pal-purple-700: #52399c;
    --clg-color-pal-purple-650: #614db1;
    --clg-color-pal-purple-600: #6f62c6;
    --clg-color-pal-purple-550: #7e75db;
    --clg-color-pal-purple-500: #8c8af0;
    --clg-color-pal-purple-450: #a09bf3;
    --clg-color-pal-purple-400: #b3adf6;
    --clg-color-pal-purple-350: #c7bef9;
    --clg-color-pal-purple-300: #dad0fc;
    --clg-color-pal-purple-250: #eee1ff;
    --clg-color-pal-purple-200: #f1e7ff;
    --clg-color-pal-purple-150: #f5edff;
    --clg-color-pal-purple-100: #f8f3ff;
    --clg-color-pal-blue-050: #eef8ff;
    --clg-color-pal-blue-950: #040a1a;
    --clg-color-pal-blue-900: #091434;
    --clg-color-pal-blue-850: #0d1e4e;
    --clg-color-pal-blue-800: #122868;
    --clg-color-pal-blue-750: #182d85;
    --clg-color-pal-blue-700: #1f32a2;
    --clg-color-pal-blue-650: #2638c0;
    --clg-color-pal-blue-600: #2d47c8;
    --clg-color-pal-blue-550: #3457d0;
    --clg-color-pal-blue-500: #3b67d9;
    --clg-color-pal-blue-450: #4f79de;
    --clg-color-pal-blue-400: #648ce3;
    --clg-color-pal-blue-350: #799fe9;
    --clg-color-pal-blue-300: #8db2ee;
    --clg-color-pal-blue-250: #a2c5f4;
    --clg-color-pal-blue-200: #b7d8f9;
    --clg-color-pal-blue-150: #ccebff;
    --clg-color-pal-blue-100: #ddf1ff;
    --clg-color-pal-green-050: #fdfff1;
    --clg-color-pal-green-950: #010f08;
    --clg-color-pal-green-900: #011d10;
    --clg-color-pal-green-850: #022c17;
    --clg-color-pal-green-800: #023a1f;
    --clg-color-pal-green-750: #034927;
    --clg-color-pal-green-700: #095e31;
    --clg-color-pal-green-650: #0f743b;
    --clg-color-pal-green-600: #158a46;
    --clg-color-pal-green-550: #1ba050;
    --clg-color-pal-green-500: #21b55a;
    --clg-color-pal-green-450: #4bc46d;
    --clg-color-pal-green-400: #76d380;
    --clg-color-pal-green-350: #a0e193;
    --clg-color-pal-green-300: #dff7af;
    --clg-color-pal-green-250: #f5ffb9;
    --clg-color-pal-green-200: #f7ffc7;
    --clg-color-pal-green-150: #f9ffd5;
    --clg-color-pal-green-100: #fbffe3;
    --clg-color-pal-red-050: #ffffff;
    --clg-color-pal-red-1000: #260009;
    --clg-color-pal-red-950: #4d0013;
    --clg-color-pal-red-900: #73001d;
    --clg-color-pal-red-850: #9a0027;
    --clg-color-pal-red-800: #b50330;
    --clg-color-pal-red-750: #d00739;
    --clg-color-pal-red-700: #ec0b43;
    --clg-color-pal-red-650: #f2285a;
    --clg-color-pal-red-600: #f84572;
    --clg-color-pal-red-550: #ff638a;
    --clg-color-pal-red-500: #ff7b9c;
    --clg-color-pal-red-450: #ff93ae;
    --clg-color-pal-red-400: #ffacc1;
    --clg-color-pal-red-350: #ffc4d3;
    --clg-color-pal-red-300: #ffdde6;
    --clg-color-pal-red-250: #ffe3eb;
    --clg-color-pal-red-200: #ffeaf0;
    --clg-color-pal-red-150: #fff1f5;
    --clg-color-pal-red-100: #fff8fa;
    --clg-color-pal-transparent-black-075: #0e0e0e17;
    --clg-color-pal-transparent-black-800: #0e0e0ee8;
    --clg-color-pal-transparent-black-700: #0e0e0ecc;
    --clg-color-pal-transparent-black-600: #0e0e0eb0;
    --clg-color-pal-transparent-black-500: #0e0e0e91;
    --clg-color-pal-transparent-black-350: #0e0e0e66;
    --clg-color-pal-transparent-black-150: #0e0e0e2e;
    --clg-color-pal-transparent-white-075: #ffffff21;
    --clg-color-pal-transparent-white-800: #ffffffeb;
    --clg-color-pal-transparent-white-700: #ffffffd4;
    --clg-color-pal-transparent-white-600: #ffffff9e;
    --clg-color-pal-transparent-white-500: #ffffff75;
    --clg-color-pal-transparent-white-350: #ffffff59;
    --clg-color-pal-transparent-white-150: #ffffff3d;
    --clg-color-pal-greyscale-075: #eaeaea;
    --clg-color-pal-greyscale-000: #ffffff;
    --clg-color-pal-greyscale-900: #0e0e0e;
    --clg-color-pal-greyscale-800: #222222;
    --clg-color-pal-greyscale-700: #3e3e3e;
    --clg-color-pal-greyscale-600: #595959;
    --clg-color-pal-greyscale-500: #757575;
    --clg-color-pal-greyscale-350: #9e9e9e;
    --clg-color-pal-greyscale-150: #d3d3d3;
    --clg-color-app-bottom-nav-active-text: #3140af;
    --clg-color-app-category-nav-background: #eee1ff;
    --clg-color-app-header-search-active: #122868;
    --clg-color-app-header-search-pressed-background: #dedede;
    --clg-color-app-header-notification-background: #f5ffb9;
    --clg-color-app-header-text-secondary: #ffe0c3;
    --clg-color-app-button-primary-on-surface-dark-border: #00000000;
    --clg-effect-app-input-shadow: 0px 1px 4px 0px inset
        var(--clg-color-pal-transparent-black-075);
    --clg-color-sem-icon-favorite-dark: var(--clg-color-pal-brick-700);
    --clg-color-sem-icon-favorite-inverted: var(--clg-color-pal-brick-300);
    --clg-color-sem-icon-favorite: var(--clg-color-pal-brick-700);
    --clg-color-sem-text-disabled: var(--clg-color-pal-greyscale-500);
    --clg-color-sem-text-on-surface-dark: var(--clg-color-pal-greyscale-000);
    --clg-color-sem-text-on-surface-light: var(--clg-color-pal-greyscale-800);
    --clg-color-sem-text-on-surface-inverted-subtle: var(
        --clg-color-pal-greyscale-000
    );
    --clg-color-sem-text-on-surface-subtle: var(--clg-color-pal-greyscale-800);
    --clg-color-sem-text-on-surface-inverted-strong: var(
        --clg-color-pal-greyscale-800
    );
    --clg-color-sem-text-on-surface-strong: var(--clg-color-pal-greyscale-000);
    --clg-color-sem-text-action: var(--clg-color-pal-denim-300);
    --clg-color-sem-text-recommendation: var(--clg-color-pal-beeswax-900);
    --clg-color-sem-text-monetary-value: var(--clg-color-pal-slime-700);
    --clg-color-sem-text-urgent: var(--clg-color-pal-brick-700);
    --clg-color-sem-text-critical: var(--clg-color-pal-brick-700);
    --clg-color-sem-text-placeholder: var(--clg-color-pal-greyscale-500);
    --clg-color-sem-text-tertiary: var(--clg-color-pal-greyscale-500);
    --clg-color-sem-text-secondary: var(--clg-color-pal-greyscale-600);
    --clg-color-sem-text-inverted-primary: var(--clg-color-pal-greyscale-000);
    --clg-color-sem-text-primary: var(--clg-color-pal-greyscale-800);
    --clg-color-sem-border-placeholder: var(
        --clg-color-pal-transparent-black-350
    );
    --clg-color-sem-border-focused: var(--clg-color-pal-denim-300);
    --clg-color-sem-border-divider: var(--clg-color-pal-greyscale-150);
    --clg-color-sem-border-inactive: var(--clg-color-pal-transparent-black-075);
    --clg-color-sem-border-active: var(--clg-color-pal-greyscale-800);
    --clg-color-sem-border-critical: var(--clg-color-pal-brick-700);
    --clg-color-sem-border-selected: var(--clg-color-pal-greyscale-800);
    --clg-color-sem-border-selectable: var(
        --clg-color-pal-transparent-black-500
    );
    --clg-color-sem-border-action-disabled: var(--clg-color-pal-greyscale-500);
    --clg-color-sem-border-action-hovered-secondary: var(
        --clg-color-pal-greyscale-500
    );
    --clg-color-sem-border-action-secondary: var(--clg-color-pal-greyscale-075);
    --clg-color-sem-border-action-inverted-primary: var(
        --clg-color-pal-greyscale-000
    );
    --clg-color-sem-border-action-primary: var(--clg-color-pal-greyscale-800);
    --clg-color-sem-border-elevation-0: var(
        --clg-color-pal-transparent-black-150
    );
    --clg-color-sem-background-scrim: var(
        --clg-color-pal-transparent-black-500
    );
    --clg-color-sem-background-surface-expressive-purple-darker: var(
        --clg-color-pal-purple-750
    );
    --clg-color-sem-background-surface-expressive-purple-dark: var(
        --clg-color-pal-purple-600
    );
    --clg-color-sem-background-surface-expressive-purple-light: var(
        --clg-color-pal-purple-450
    );
    --clg-color-sem-background-surface-expressive-purple-lighter: var(
        --clg-color-pal-purple-250
    );
    --clg-color-sem-background-surface-expressive-blue-darker: var(
        --clg-color-pal-blue-800
    );
    --clg-color-sem-background-surface-expressive-blue-dark: var(
        --clg-color-pal-blue-650
    );
    --clg-color-sem-background-surface-expressive-blue-strong: var(
        --clg-color-pal-blue-500
    );
    --clg-color-sem-background-surface-expressive-blue-light: var(
        --clg-color-pal-blue-150
    );
    --clg-color-sem-background-surface-expressive-green-dark: var(
        --clg-color-pal-green-700
    );
    --clg-color-sem-background-surface-expressive-green-light: var(
        --clg-color-pal-green-450
    );
    --clg-color-sem-background-surface-expressive-green-lighter: var(
        --clg-color-pal-green-350
    );
    --clg-color-sem-background-surface-expressive-green-lightest: var(
        --clg-color-pal-green-300
    );
    --clg-color-sem-background-surface-expressive-yellow-dark: var(
        --clg-color-pal-yellow-850
    );
    --clg-color-sem-background-surface-expressive-yellow-light: var(
        --clg-color-pal-yellow-750
    );
    --clg-color-sem-background-surface-expressive-yellow-lighter: var(
        --clg-color-pal-yellow-500
    );
    --clg-color-sem-background-surface-expressive-yellow-lightest: var(
        --clg-color-pal-yellow-250
    );
    --clg-color-sem-background-surface-expressive-orange-dark: var(
        --clg-color-pal-new-orange-600
    );
    --clg-color-sem-background-surface-expressive-orange-light: var(
        --clg-color-pal-new-orange-500
    );
    --clg-color-sem-background-surface-expressive-orange-lighter: var(
        --clg-color-pal-new-orange-400
    );
    --clg-color-sem-background-surface-expressive-orange-lightest: var(
        --clg-color-pal-new-orange-250
    );
    --clg-color-sem-background-surface-placeholder-subtle: var(
        --clg-color-pal-transparent-black-075
    );
    --clg-color-sem-background-surface-star-seller-light: var(
        --clg-color-pal-lavender-100
    );
    --clg-color-sem-background-surface-star-seller-dark: var(
        --clg-color-pal-lavender-300
    );
    --clg-color-sem-background-surface-confirmed-light: var(
        --clg-color-pal-slime-100
    );
    --clg-color-sem-background-surface-monetary-value-light: var(
        --clg-color-pal-slime-100
    );
    --clg-color-sem-background-surface-notification-tertiary-strong: var(
        --clg-color-pal-greyscale-800
    );
    --clg-color-sem-background-surface-notification-secondary-dark: var(
        --clg-color-pal-denim-300
    );
    --clg-color-sem-background-surface-notification-secondary-strong: var(
        --clg-color-pal-denim-300
    );
    --clg-color-sem-background-surface-notification-primary-strong: var(
        --clg-color-pal-new-orange-600
    );
    --clg-color-sem-background-surface-informational-subtle: var(
        --clg-color-pal-greyscale-075
    );
    --clg-color-sem-background-surface-informational-light: var(
        --clg-color-pal-greyscale-075
    );
    --clg-color-sem-background-surface-recommendation-light: var(
        --clg-color-pal-beeswax-100
    );
    --clg-color-sem-background-surface-warning-light: var(
        --clg-color-pal-beeswax-100
    );
    --clg-color-sem-background-surface-feedback-light: var(
        --clg-color-pal-denim-100
    );
    --clg-color-sem-background-surface-success-dark: var(
        --clg-color-pal-denim-700
    );
    --clg-color-sem-background-surface-urgent-light: var(
        --clg-color-pal-brick-100
    );
    --clg-color-sem-background-surface-critical-subtle: var(
        --clg-color-pal-brick-100
    );
    --clg-color-sem-background-surface-critical-strong: var(
        --clg-color-pal-brick-700
    );
    --clg-color-sem-background-surface-critical-light: var(
        --clg-color-pal-brick-100
    );
    --clg-color-sem-background-surface-critical-dark: var(
        --clg-color-pal-brick-700
    );
    --clg-color-sem-background-surface-inactive-subtle: var(
        --clg-color-pal-greyscale-150
    );
    --clg-color-sem-background-surface-active-strong: var(
        --clg-color-pal-greyscale-800
    );
    --clg-color-sem-background-surface-selected-strong: var(
        --clg-color-pal-greyscale-800
    );
    --clg-color-sem-background-surface-action-pressed-transparent-dark: var(
        --clg-color-pal-transparent-white-150
    );
    --clg-color-sem-background-surface-action-pressed-transparent-light: var(
        --clg-color-pal-transparent-black-150
    );
    --clg-color-sem-background-surface-action-pressed-transparent-inverted-subtle: var(
        --clg-color-pal-transparent-white-150
    );
    --clg-color-sem-background-surface-action-pressed-transparent-subtle: var(
        --clg-color-pal-transparent-black-150
    );
    --clg-color-sem-background-surface-action-pressed-primary-dark: var(
        --clg-color-pal-greyscale-600
    );
    --clg-color-sem-background-surface-action-pressed-primary-strong: var(
        --clg-color-pal-greyscale-600
    );
    --clg-color-sem-background-surface-action-hovered-transparent-dark: var(
        --clg-color-pal-transparent-white-075
    );
    --clg-color-sem-background-surface-action-hovered-transparent-light: var(
        --clg-color-pal-transparent-black-075
    );
    --clg-color-sem-background-surface-action-hovered-transparent-inverted-subtle: var(
        --clg-color-pal-transparent-white-075
    );
    --clg-color-sem-background-surface-action-hovered-transparent-subtle: var(
        --clg-color-pal-transparent-black-075
    );
    --clg-color-sem-background-surface-action-hovered-secondary-dark: var(
        --clg-color-pal-transparent-white-150
    );
    --clg-color-sem-background-surface-action-hovered-secondary-light: var(
        --clg-color-pal-transparent-black-150
    );
    --clg-color-sem-background-surface-action-hovered-secondary-inverted-subtle: var(
        --clg-color-pal-transparent-white-150
    );
    --clg-color-sem-background-surface-action-hovered-secondary-subtle: var(
        --clg-color-pal-transparent-black-150
    );
    --clg-color-sem-background-surface-action-hovered-primary-dark: var(
        --clg-color-pal-greyscale-700
    );
    --clg-color-sem-background-surface-action-hovered-primary-light: var(
        --clg-color-pal-greyscale-075
    );
    --clg-color-sem-background-surface-action-hovered-primary-inverted-strong: var(
        --clg-color-pal-greyscale-075
    );
    --clg-color-sem-background-surface-action-secondary-dark: var(
        --clg-color-pal-transparent-white-075
    );
    --clg-color-sem-background-surface-action-secondary-light: var(
        --clg-color-pal-transparent-black-075
    );
    --clg-color-sem-background-surface-action-secondary-inverted-subtle: var(
        --clg-color-pal-transparent-white-075
    );
    --clg-color-sem-background-surface-action-secondary-subtle: var(
        --clg-color-pal-transparent-black-075
    );
    --clg-color-sem-background-surface-action-primary-dark: var(
        --clg-color-pal-greyscale-800
    );
    --clg-color-sem-background-surface-action-primary-light: var(
        --clg-color-pal-greyscale-000
    );
    --clg-color-sem-background-surface-action-primary-inverted-strong: var(
        --clg-color-pal-greyscale-000
    );
    --clg-color-sem-background-surface-action-primary-strong: var(
        --clg-color-pal-greyscale-800
    );
    --clg-color-sem-background-surface-seller-dark: var(
        --clg-color-pal-denim-300
    );
    --clg-color-sem-background-elevation-4: var(--clg-color-pal-greyscale-000);
    --clg-color-sem-background-elevation-3: var(--clg-color-pal-greyscale-000);
    --clg-color-sem-background-elevation-2: var(--clg-color-pal-greyscale-000);
    --clg-color-sem-background-elevation-1: var(--clg-color-pal-greyscale-000);
    --clg-color-sem-background-elevation-0: var(--clg-color-pal-greyscale-000);
    --clg-color-app-tooltip-background: var(--clg-color-pal-greyscale-800);
    --clg-color-app-progress-bar-selected-review-stars-background: var(
        --clg-color-pal-beeswax-100
    );
    --clg-color-app-progress-bar-unselected-fill: var(
        --clg-color-pal-greyscale-350
    );
    --clg-color-app-progress-bar-review-stars-fill: var(
        --clg-color-pal-beeswax-700
    );
    --clg-color-app-progress-bar-fill: var(--clg-color-pal-greyscale-800);
    --clg-color-app-progress-bar-background: var(
        --clg-color-pal-transparent-black-075
    );
    --clg-color-app-category-nav-active-border: var(
        --clg-color-pal-greyscale-800
    );
    --clg-color-app-category-nav-border: var(
        --clg-color-pal-transparent-black-075
    );
    --clg-color-app-header-search-background: var(
        --clg-color-pal-greyscale-000
    );
    --clg-color-app-header-notification-text: var(
        --clg-color-pal-greyscale-000
    );
    --clg-color-app-header-text-primary: var(--clg-color-pal-greyscale-000);
    --clg-color-app-header-background: var(--clg-color-pal-new-orange-500);
    --clg-color-app-alert-highlight: var(--clg-color-pal-greyscale-150);
    --clg-color-app-badge-promoted-border: var(--clg-color-pal-greyscale-075);
    --clg-color-app-badge-border: var(--clg-color-pal-greyscale-000);
    --clg-color-app-badge-background: var(--clg-color-pal-greyscale-000);
    --clg-color-app-spinner-on-surface-strong-foreground: var(
        --clg-color-pal-greyscale-000
    );
    --clg-color-app-spinner-on-surface-strong-background: var(
        --clg-color-pal-transparent-white-150
    );
    --clg-color-app-spinner-on-surface-light-foreground: var(
        --clg-color-pal-greyscale-800
    );
    --clg-color-app-spinner-on-surface-light-background: var(
        --clg-color-pal-transparent-black-150
    );
    --clg-color-app-spinner-on-surface-dark-foreground: var(
        --clg-color-pal-greyscale-000
    );
    --clg-color-app-spinner-on-surface-dark-background: var(
        --clg-color-pal-transparent-white-150
    );
    --clg-color-app-spinner-foreground: var(--clg-color-pal-greyscale-800);
    --clg-color-app-spinner-background: var(
        --clg-color-pal-transparent-black-150
    );
    --clg-color-app-review-star-filled-background: var(
        --clg-color-pal-greyscale-800
    );
    --clg-color-app-review-star-filled-border: var(
        --clg-color-pal-greyscale-800
    );
    --clg-color-app-review-star-border: var(--clg-color-pal-greyscale-600);
    --clg-color-app-button-transparent-disabled-text: var(
        --clg-color-pal-greyscale-500
    );
    --clg-color-app-button-tertiary-on-surface-dark-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-secondary-dark
    );
    --clg-color-app-button-tertiary-on-surface-light-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-secondary-light
    );
    --clg-color-app-button-tertiary-on-surface-strong-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-secondary-inverted-subtle
    );
    --clg-color-app-button-tertiary-disabled-text: var(
        --clg-color-pal-greyscale-350
    );
    --clg-color-app-button-tertiary-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-secondary-subtle
    );
    --clg-color-app-button-secondary-on-surface-dark-border: var(
        --clg-color-pal-greyscale-000
    );
    --clg-color-app-button-secondary-on-surface-light-border: var(
        --clg-color-pal-greyscale-800
    );
    --clg-color-app-button-secondary-on-surface-strong-disabled-text: var(
        --clg-color-pal-greyscale-500
    );
    --clg-color-app-button-secondary-on-surface-strong-border: var(
        --clg-color-pal-greyscale-000
    );
    --clg-color-app-button-secondary-disabled-border: var(
        --clg-color-pal-greyscale-500
    );
    --clg-color-app-button-secondary-disabled-text: var(
        --clg-color-pal-greyscale-500
    );
    --clg-color-app-button-primary-on-surface-dark-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-primary-light
    );
    --clg-color-app-button-primary-on-surface-strong-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-primary-inverted-strong
    );
    --clg-color-app-button-primary-disabled-background: var(
        --clg-color-pal-greyscale-500
    );
    --clg-color-app-button-primary-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-primary-strong
    );
    --clg-color-app-input-disabled-text: var(
        --clg-color-pal-transparent-black-600
    );
    --clg-color-app-input-disabled-background: var(
        --clg-color-pal-transparent-black-075
    );
    --clg-color-app-input-hovered-border: var(
        --clg-color-pal-transparent-black-500
    );
    --clg-color-app-input-border: var(--clg-color-pal-transparent-black-150);
    --clg-color-app-input-background: var(--clg-color-pal-greyscale-000);
    --clg-color-sem-text-informational: var(--clg-color-sem-text-secondary);
    --clg-color-app-tooltip-text: var(--clg-color-sem-text-on-surface-strong);
    --clg-color-app-progress-bar-shop-feedback-fill: var(
        --clg-color-sem-background-surface-seller-dark
    );
    --clg-color-app-bottom-nav-text: var(--clg-color-sem-text-tertiary);
    --clg-color-app-bottom-nav-background: var(
        --clg-color-sem-background-elevation-1
    );
    --clg-color-app-category-nav-text: var(--clg-color-sem-text-primary);
    --clg-color-app-button-transparent-on-surface-dark-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-transparent-dark
    );
    --clg-color-app-button-transparent-on-surface-dark-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-transparent-dark
    );
    --clg-color-app-button-transparent-on-surface-dark-text: var(
        --clg-color-sem-text-on-surface-dark
    );
    --clg-color-app-button-transparent-on-surface-light-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-transparent-light
    );
    --clg-color-app-button-transparent-on-surface-light-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-transparent-light
    );
    --clg-color-app-button-transparent-on-surface-light-text: var(
        --clg-color-sem-text-on-surface-light
    );
    --clg-color-app-button-transparent-on-surface-strong-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-transparent-inverted-subtle
    );
    --clg-color-app-button-transparent-on-surface-strong-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-transparent-inverted-subtle
    );
    --clg-color-app-button-transparent-on-surface-strong-text: var(
        --clg-color-sem-text-on-surface-strong
    );
    --clg-color-app-button-transparent-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-transparent-subtle
    );
    --clg-color-app-button-transparent-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-transparent-subtle
    );
    --clg-color-app-button-transparent-text: var(--clg-color-sem-text-primary);
    --clg-color-app-button-tertiary-on-surface-dark-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-secondary-dark
    );
    --clg-color-app-button-tertiary-on-surface-dark-text: var(
        --clg-color-sem-text-on-surface-dark
    );
    --clg-color-app-button-tertiary-on-surface-dark-background: var(
        --clg-color-sem-background-surface-action-secondary-dark
    );
    --clg-color-app-button-tertiary-on-surface-light-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-secondary-light
    );
    --clg-color-app-button-tertiary-on-surface-light-text: var(
        --clg-color-sem-text-on-surface-light
    );
    --clg-color-app-button-tertiary-on-surface-light-background: var(
        --clg-color-sem-background-surface-action-secondary-light
    );
    --clg-color-app-button-tertiary-on-surface-strong-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-secondary-inverted-subtle
    );
    --clg-color-app-button-tertiary-on-surface-strong-text: var(
        --clg-color-sem-text-on-surface-inverted-subtle
    );
    --clg-color-app-button-tertiary-on-surface-strong-background: var(
        --clg-color-sem-background-surface-action-secondary-inverted-subtle
    );
    --clg-color-app-button-tertiary-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-secondary-subtle
    );
    --clg-color-app-button-tertiary-text: var(
        --clg-color-sem-text-on-surface-subtle
    );
    --clg-color-app-button-tertiary-background: var(
        --clg-color-sem-background-surface-action-secondary-subtle
    );
    --clg-color-app-button-secondary-on-surface-dark-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-transparent-dark
    );
    --clg-color-app-button-secondary-on-surface-dark-text: var(
        --clg-color-sem-text-on-surface-dark
    );
    --clg-color-app-button-secondary-on-surface-light-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-transparent-light
    );
    --clg-color-app-button-secondary-on-surface-light-text: var(
        --clg-color-sem-text-on-surface-light
    );
    --clg-color-app-button-secondary-on-surface-strong-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-transparent-inverted-subtle
    );
    --clg-color-app-button-secondary-on-surface-strong-text: var(
        --clg-color-sem-text-on-surface-strong
    );
    --clg-color-app-button-secondary-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-transparent-subtle
    );
    --clg-color-app-button-secondary-border: var(
        --clg-color-sem-border-action-primary
    );
    --clg-color-app-button-secondary-text: var(--clg-color-sem-text-primary);
    --clg-color-app-button-primary-on-surface-light-disabled-text: var(
        --clg-color-sem-text-on-surface-dark
    );
    --clg-color-app-button-primary-on-surface-light-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-primary-dark
    );
    --clg-color-app-button-primary-on-surface-light-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-primary-dark
    );
    --clg-color-app-button-primary-on-surface-light-text: var(
        --clg-color-sem-text-on-surface-dark
    );
    --clg-color-app-button-primary-on-surface-light-background: var(
        --clg-color-sem-background-surface-action-primary-dark
    );
    --clg-color-app-button-primary-on-surface-dark-disabled-text: var(
        --clg-color-sem-text-on-surface-light
    );
    --clg-color-app-button-primary-on-surface-dark-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-primary-light
    );
    --clg-color-app-button-primary-on-surface-dark-text: var(
        --clg-color-sem-text-on-surface-light
    );
    --clg-color-app-button-primary-on-surface-dark-background: var(
        --clg-color-sem-background-surface-action-primary-light
    );
    --clg-color-app-button-primary-on-surface-strong-hovered-background: var(
        --clg-color-sem-background-surface-action-hovered-primary-inverted-strong
    );
    --clg-color-app-button-primary-on-surface-strong-text: var(
        --clg-color-sem-text-on-surface-inverted-strong
    );
    --clg-color-app-button-primary-on-surface-strong-background: var(
        --clg-color-sem-background-surface-action-primary-inverted-strong
    );
    --clg-color-app-button-primary-disabled-text: var(
        --clg-color-sem-text-inverted-primary
    );
    --clg-color-app-button-primary-pressed-background: var(
        --clg-color-sem-background-surface-action-pressed-primary-strong
    );
    --clg-color-app-button-primary-text: var(
        --clg-color-sem-text-on-surface-strong
    );
    --clg-color-app-button-primary-background: var(
        --clg-color-sem-background-surface-action-primary-strong
    );
    --clg-color-app-input-text: var(--clg-color-sem-text-primary);
    --error-clr: rgba(166, 26, 46, 0.35);
    --bg-error-clr: #fddcd8;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, button {
    font: revert;
    border: none;
    background: none;
}

html,
body {
    height: 100%;
}

@font-face {
    font-family: Roboto;
    src: url('/public/Roboto/Roboto-Regular.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url('/public/Roboto/Roboto-Bold.ttf');
    font-weight: 900;
}

@font-face {
    font-family: Roboto;
    src: url('/public/Roboto/Roboto-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url('/public/Montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('/public/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
    font-style: italic;
}
