.ab_container {
    display: block;
    border: none;
    text-decoration: none;
    color: var(--clg-color-app-bottom-nav-active-text);
    padding: 0.65rem 1rem;
    font-family: GraphikFont;
    cursor: pointer;
   
}
.ab_container:focus {
    outline: var(--input-focus-outline);
    outline-offset: 1.5px;
}

.ab_container::first-letter {
    text-transform: capitalize;
}

.ab_container.box-shadow {
    box-shadow: 0 2px 10px var(--clr-shadow-light);
}

.ab_container.secondary {
    border: 2px solid var(--clr-secondary);
    color: var(--clr-secondary);
}
.ab_container.primary {
    color: var(--clr-white);
    font-size: var(--fs-400);
    background-color: var(--clr-secondary);
}

.ab_container.min {
    width: fit-content;
}
.ab_container.max {
    display: block;
}

.ab_container.animated {
    transition: all 0.2s ease-in-out;
    position: relative;
    isolation: isolate;
    
}
.ab_container.animated::before {
    content: '';
    transition: inherit;
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: transparent;
    border-radius: inherit;
}



.ab_container.animated:hover {
    padding: calc(0.65rem + 0.2%) calc(1rem + 0.2%);
    margin: -0.2%;

    box-shadow: 0 5px 3px 0 var(--clr-grey-very-light);
}

.ab_container.animated:hover::before {
    background-color: rgba(255, 255, 255, 0.1);
}
